<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.shop.biz.mapper.ShopProductModelSpecMapper">
    <resultMap id="BaseResultMap" type="work.soho.shop.biz.domain.ShopProductModelSpec">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="modelId" column="model_id" jdbcType="INTEGER"/>
        <id property="name" column="name" jdbcType="VARCHAR"/>
        <id property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
        <id property="type" column="type" jdbcType="TINYINT"/>
        <id property="extend" column="extend" jdbcType="VARCHAR"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,model_id,name,sort_order,type,extend,updated_time,created_time
    </sql>
</mapper>