<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.shop.biz.mapper.ShopProductLikeMapper">
    <resultMap id="BaseResultMap" type="work.soho.shop.biz.domain.ShopProductLike">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="productId" column="product_id" jdbcType="BIGINT"/>
        <id property="createdTime" column="created_time" jdbcType="VARCHAR"/>
        <id property="updatedTime" column="updated_time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,product_id,created_time,updated_time
    </sql>
</mapper>