<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.open.biz.mapper.OpenCodeMapper">
    <resultMap id="BaseResultMap" type="work.soho.open.biz.domain.OpenCode">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="appId" column="app_id" jdbcType="INTEGER"/>
        <id property="code" column="code" jdbcType="VARCHAR"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
        <id property="isLogin" column="is_login" jdbcType="TINYINT"/>
        <id property="uid" column="uid" jdbcType="INTEGER"/>
        <id property="originUid" column="origin_uid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,app_id,code,updated_time,created_time,is_login,uid,origin_uid
    </sql>
</mapper>