<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.wallet.biz.mapper.WalletTransferMapper">
    <resultMap id="BaseResultMap" type="work.soho.wallet.biz.domain.WalletTransfer">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="code" column="code" jdbcType="VARCHAR"/>
        <id property="fromUserId" column="from_user_id" jdbcType="INTEGER"/>
        <id property="fromWalletId" column="from_wallet_id" jdbcType="INTEGER"/>
        <id property="fromWalletType" column="from_wallet_type" jdbcType="INTEGER"/>
        <id property="fromAmount" column="from_amount" jdbcType="VARCHAR"/>
        <id property="toWalletId" column="to_wallet_id" jdbcType="INTEGER"/>
        <id property="toWalletType" column="to_wallet_type" jdbcType="INTEGER"/>
        <id property="toUserId" column="to_user_id" jdbcType="VARCHAR"/>
        <id property="toAmount" column="to_amount" jdbcType="VARCHAR"/>
        <id property="remark" column="remark" jdbcType="VARCHAR"/>
        <id property="updatedTime" column="updated_time" jdbcType="VARCHAR"/>
        <id property="createdTime" column="created_time" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,code,from_user_id,from_wallet_id,from_wallet_type,from_amount,to_wallet_id,to_wallet_type,to_user_id,to_amount,remark,updated_time,created_time
    </sql>
</mapper>