<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.wallet.biz.mapper.WalletUserOrderMapper">
    <resultMap id="BaseResultMap" type="work.soho.wallet.biz.domain.WalletUserOrder">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="walletId" column="wallet_id" jdbcType="INTEGER"/>
        <id property="no" column="no" jdbcType="VARCHAR"/>
        <id property="amount" column="amount" jdbcType="VARCHAR"/>
        <id property="outTrackingNumber" column="out_tracking_number" jdbcType="VARCHAR"/>
        <id property="status" column="status" jdbcType="TINYINT"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,wallet_id,no,amount,out_tracking_number,status,updated_time,created_time
    </sql>
</mapper>