<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.mapper.ExampleCategoryMapper">
    <resultMap id="BaseResultMap" type="work.soho.domain.ExampleCategory">
        <id property="createdTime" column="created_time" jdbcType="datetime"/>
        <id property="id" column="id" jdbcType="int"/>
        <id property="img" column="img" jdbcType="varchar"/>
        <id property="onlyDate" column="only_date" jdbcType="date"/>
        <id property="parentId" column="parent_id" jdbcType="int"/>
        <id property="payDatetime" column="pay_datetime" jdbcType="datetime"/>
        <id property="title" column="title" jdbcType="varchar"/>
        <id property="updatedTime" column="updated_time" jdbcType="datetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        created_time,id,img,only_date,parent_id,pay_datetime,title,updated_time
    </sql>
</mapper>