<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.mapper.TemporalTableColMapper">
    <resultMap id="BaseResultMap" type="work.soho.domain.TemporalTableCol">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="name" column="name" jdbcType="VARCHAR"/>
        <id property="title" column="title" jdbcType="VARCHAR"/>
        <id property="tableId" column="table_id" jdbcType="INTEGER"/>
        <id property="type" column="type" jdbcType="INTEGER"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
        <id property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,title,table_id,type,updated_time,created_time,status
    </sql>
</mapper>