<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.chat.biz.mapper.ChatSessionMapper">
    <resultMap id="BaseResultMap" type="work.soho.chat.biz.domain.ChatSession">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="type" column="type" jdbcType="TINYINT"/>
        <id property="status" column="status" jdbcType="TINYINT"/>
        <id property="title" column="title" jdbcType="VARCHAR"/>
        <id property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
        <id property="lastMessageTime" column="last_message_time" javaType="DATE" />
    </resultMap>
    <sql id="Base_Column_List">
        id,type,status,title,avatar,updated_time,created_time,last_message_time
    </sql>
</mapper>
