spring:
#  profiles:
#    active: @profiles.active@
#  application:
#    name: @artifactId@
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    dynamic:
      primary: master
      strict: false
      datasource:
        master:
          url: jdbc:mysql://${MYSQL_HOST:mysql.dev.soho.work}:${MYSQL_PORT:3306}/dev?useUnicode=true&characterEncoding=utf-8
          username: ${MYSQL_USERNAME:dev}
          password: ${MYSQL_PASSWORD:Dev@123456789}
          driver-class-name: com.mysql.cj.jdbc.Driver
        game:
          url: jdbc:mysql://${MYSQL_HOST:mysql.dev.soho.work}:${MYSQL_PORT:3306}/soho_game?useUnicode=true&characterEncoding=utf-8
          username: ${MYSQL_USERNAME:dev}
          password: ${MYSQL_PASSWORD:Dev@123456789}
          driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: ${REDIS_HOST:redis.dev.soho.work}
    port: ${REDIS_PORT:6379}
    password:
    lettuce:
      pool:
        max-active: 10
        max-idle: 8
        max-wait: -1ms
        min-idle: 0
server:
  servlet:
    encoding:
      charset: utf-8
  port: 6688

mybatis:
  mapper-locations: classpath:mapper/*.xml
pagehelper:
  params: count=countSql
  support-methods-arguments: true
  reasonable: true
  helper-dialect: mysql

# swagger 相关配置
springfox:
  documentation:
    open-api:
      enabled: false
    swagger-ui:
      enabled: false
      base-url: /api-docs
#snowflake:
#  enable-atomic: true
#  enable-cached: true

token:
  secret: sxxxxxxxxdddddddddaret

redisson:
  nodeAddress: redis://localhost:6379
