<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.code.biz.mapper.CodeTableMapper">

    <resultMap id="BaseResultMap" type="work.soho.code.biz.domain.CodeTable">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="dbSource" column="db_source" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,title,
        comment,db_source
    </sql>
</mapper>
