<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.code.biz.mapper.CodeTableColumnMapper">

<!--    <resultMap id="BaseResultMap" type="work.soho.code.biz.domain.CodeTableColumn">-->
<!--            <id property="id" column="id" jdbcType="INTEGER"/>-->
<!--            <result property="tableId" column="table_id" jdbcType="INTEGER"/>-->
<!--            <result property="name" column="name" jdbcType="VARCHAR"/>-->
<!--            <result property="title" column="title" jdbcType="VARCHAR"/>-->
<!--            <result property="dataType" column="data_type" jdbcType="VARCHAR"/>-->
<!--            <result property="isPk" column="is_pk" jdbcType="TINYINT"/>-->
<!--            <result property="isNotNull" column="is_not_null" jdbcType="TINYINT"/>-->
<!--            <result property="isUnique" column="is_unique" jdbcType="TINYINT"/>-->
<!--            <result property="isAutoIncrement" column="is_auto_increment" jdbcType="TINYINT"/>-->
<!--            <result property="isZeroFill" column="is_zero_fill" jdbcType="TINYINT"/>-->
<!--            <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>-->
<!--            <result property="length" column="length" jdbcType="INTEGER"/>-->
<!--            <result property="scale" column="scale" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

    <sql id="Base_Column_List">
        id,table_id,name,
        title,data_type,is_pk,
        is_not_null,is_unique,is_auto_increment,
        is_zero_fill,default_value,length,
        scale
    </sql>
</mapper>
