<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.open.biz.mapper.OpenAppMapper">
    <resultMap id="BaseResultMap" type="work.soho.open.biz.domain.OpenApp">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="appName" column="app_name" jdbcType="VARCHAR"/>
        <id property="appKey" column="app_key" jdbcType="VARCHAR"/>
        <id property="appSecret" column="app_secret" jdbcType="VARCHAR"/>
        <id property="status" column="status" jdbcType="TINYINT"/>
        <id property="qpsLimit" column="qps_limit" jdbcType="INTEGER"/>
        <id property="remark" column="remark" jdbcType="VARCHAR"/>
        <id property="redirectUriList" column="redirect_uri_list" jdbcType="VARCHAR"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,app_name,app_key,app_secret,status,qps_limit,remark,redirect_uri_list,created_time,updated_time
    </sql>
</mapper>
