<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.groovy.biz.mapper.GroovyInfoMapper">
    <resultMap id="BaseResultMap" type="work.soho.groovy.biz.domain.GroovyInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <id property="groupId" column="group_id" jdbcType="INTEGER"/>
        <id property="name" column="name" jdbcType="VARCHAR"/>
        <id property="code" column="code" jdbcType="VARCHAR"/>
        <id property="createdTime" column="created_time" jdbcType="DATE"/>
        <id property="updatedTime" column="updated_time" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,group_id,name,code,created_time,updated_time
    </sql>
</mapper>