<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.biz.mapper.AdminUserLoginLogMapper">

    <resultMap id="BaseResultMap" type="work.soho.admin.biz.domain.AdminUserLoginLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminUserId" column="admin_user_id" jdbcType="INTEGER"/>
            <result property="clientIp" column="client_ip" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_user_id,client_ip,
        token,created_time
    </sql>
</mapper>
