<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.mapper.AdminRoleMapper">
   <sql id="AllField">
       id,
       name,
       remarks,
       created_time
   </sql>
   <select id="getById" resultType="work.soho.api.admin.po.AdminRole">
       SELECT
           <include refid="AllField"></include>
       FROM admin_role: table where id=#{id}
   </select>
   <select id="getAdminRoleListByUserId" >
       select
       <include refid="AllField"></include>
       from admin_role where id in (select role_id from admin_role_user where user_id=#{userId})
   </select>
   <insert id="insert" parameterType="work.soho.api.admin.po.AdminRole">
       INSERT INTO admin_role: table
       <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
           id,
       </if>
      <if test="name != null">
           name,
       </if>
      <if test="remarks != null">
           remarks,
       </if>
      <if test="createdTime != null">
           created_time,
       </if>
       </trim>
       <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      <if test="id != null">
           id,
       </if>
      <if test="name != null">
           name,
       </if>
      <if test="remarks != null">
           remarks,
       </if>
      <if test="createdTime != null">
           createdTime,
       </if>
       </trim>
   </insert>
  <update id="update"  parameterType="work.soho.api.admin.po.AdminRole">
      <set>
          <if test="id != null">id=#{id}</if>
          <if test="name != null">name=#{name}</if>
          <if test="remarks != null">remarks=#{remarks}</if>
          <if test="createdTime != null">created_time=#{createdTime}</if>
      </set>
  </update>


</mapper>
