<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.biz.mapper.AdminRoleMapper">
   <sql id="AllField">
       `id`,
       `name`,
        `enable`,
       `remarks`,
       `created_time`
   </sql>
   <select id="getById" resultType="work.soho.admin.biz.domain.AdminRole">
       SELECT
           <include refid="AllField"></include>
       FROM admin_role: table where id=#{id}
   </select>
   <select id="getAdminRoleListByUserId" >
       select
       <include refid="AllField"></include>
       from admin_role where id in (select role_id from admin_role_user where user_id=#{userId})
   </select>



</mapper>
