<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.mapper.AdminNotificationMapper">

    <resultMap id="BaseResultMap" type="work.soho.admin.domain.AdminNotification">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminUserId" column="admin_user_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="createAdminUserId" column="create_admin_user_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="cteatedTime" column="cteated_time" jdbcType="TIMESTAMP"/>
            <result property="isRead" column="is_read" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_user_id,title,
        create_admin_user_id,content,cteated_time,
        is_read
    </sql>
</mapper>
