<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.biz.mapper.AdminResourceMapper">
   <sql id="AllField">
       id,
       name,
       route,
       type,
       remarks,
       created_time,
       visible,
       `key`,
       `order`
   </sql>

   <select id="getByRoleIds" resultType="work.soho.admin.biz.domain.AdminResource">
       SELECT
           <include refid="AllField"></include>
       FROM admin_resource where id in (select resource_id from admin_role_resource where role_id in
       <foreach collection="roleIds" item="roleId" index="index" open="(" close=")" separator=",">
        #{roleId}
       </foreach>

       )
   </select>

</mapper>
