<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.admin.mapper.AdminResourceMapper">
   <sql id="AllField">
       id,
       name,
       path,
       type,
       remarks,
       created_time,
       visible,
       `key`,
       `order`
   </sql>
   <select id="getById" resultType="work.soho.api.admin.po.AdminResource">
       SELECT
           <include refid="AllField"></include>
       FROM admin_resource where id=#{id}
   </select>
   <select id="getByKey" resultType="work.soho.api.admin.po.AdminResource">
       SELECT
           <include refid="AllField"></include>
       FROM admin_resource where `key`=#{key}
   </select>
   <insert id="insert" parameterType="work.soho.api.admin.po.AdminResource">
       INSERT INTO admin_resource
       <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
           id,
       </if>
      <if test="name != null">
           name,
       </if>
      <if test="path != null">
           path,
       </if>
      <if test="type != null">
           type,
       </if>
      <if test="remarks != null">
           remarks,
       </if>
      <if test="createdTime != null">
           created_time,
       </if>
      <if test="visible != null">
           visible,
       </if>
      <if test="key != null">
           `key`,
       </if>
      <if test="order != null">
           `order`,
       </if>
       </trim>
       <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      <if test="id != null">
           #{id},
       </if>
      <if test="name != null">
           #{name},
       </if>
      <if test="path != null">
           #{path},
       </if>
      <if test="type != null">
           #{type},
       </if>
      <if test="remarks != null">
           #{remarks},
       </if>
      <if test="createdTime != null">
           #{createdTime},
       </if>
      <if test="visible != null">
           #{visible},
       </if>
      <if test="key != null">
           #{key},
       </if>
      <if test="order != null">
           #{order},
       </if>
       </trim>
   </insert>
  <update id="update"  parameterType="work.soho.api.admin.po.AdminResource">
      update admin_resource
      <set>
          <if test="id != null">`id`=#{id},</if>
          <if test="name != null">name=#{name},</if>
          <if test="path != null">path=#{path},</if>
          <if test="type != null">`type`=#{type},</if>
          <if test="remarks != null">remarks=#{remarks},</if>
          <if test="createdTime != null">created_time=#{createdTime},</if>
          <if test="visible != null">visible=#{visible},</if>
          <if test="key != null">`key`=#{key},</if>
          <if test="order != null">`order`=#{order},</if>
      </set>

      where `id`=#{id}
  </update>


</mapper>
