<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.content.biz.mapper.ContentCommentMapper">

    <resultMap id="BaseResultMap" type="work.soho.content.biz.domain.ContentComment">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="externalCommentId" column="external_comment_id" jdbcType="INTEGER"/>
        <result property="contentId" column="content_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="authorName" column="author_name" jdbcType="VARCHAR"/>
        <result property="authorEmail" column="author_email" jdbcType="VARCHAR"/>
        <result property="authorUrl" column="author_url" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,external_comment_id,content_id,parent_id,user_id,author_name,author_email,author_url,content,status,created_time,updated_time
    </sql>
</mapper>
