<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.content.biz.mapper.ContentMediaMapper">

    <resultMap id="BaseResultMap" type="work.soho.content.biz.domain.ContentMedia">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="externalMediaId" column="external_media_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="mimeType" column="mime_type" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="altText" column="alt_text" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,external_media_id,title,url,mime_type,description,alt_text,user_id,created_time,updated_time
    </sql>
</mapper>
