<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.soho.content.biz.mapper.ContentTagRelationMapper">

    <resultMap id="BaseResultMap" type="work.soho.content.biz.domain.ContentTagRelation">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="contentId" column="content_id" jdbcType="INTEGER"/>
        <result property="tagId" column="tag_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content_id,tag_id
    </sql>
</mapper>
